# Because this is a gem, ignore Gemfile.lock:
Gemfile.lock

# And because this is Ruby, ignore the following
#  (source: https://github.com/github/gitignore/blob/master/Ruby.gitignore):
*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
build/

# YARD artifacts
.yardoc
_yardoc
doc/

.repl_history
tags
app/pixate_code.rb
resources/*.nib
resources/*.momd
resources/*.storyboardc
.DS_Store
nbproject
.redcar
#*#
*~
*.sw[po]
.eprj
.sass-cache
.idea
